@model Nop.Plugin.Admin.StyleEditor.Areas.Admin.Models.ConfigurationModel

@{
    Layout = "_AdminLayout";
    ViewBag.PageTitle = T("Plugins.Admin.StyleEditor.EditorTitle").Text;
    Html.SetActiveMenuItemSystemName("StyleEditor");
}

<form asp-controller="StyleEditor" asp-action="EditStyles" method="post">
    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("Plugins.Admin.StyleEditor.EditorTitle")
        </h1>
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="form-horizontal">
                <div class="card card-default">
                    <div class="card-body">
                        <div class="form-group row">
                            <div class="col-md-2">
                                <nop-label asp-for="DisableCustomStyles" />
                            </div>
                            <div class="col-md-10">
                                <nop-editor asp-for="DisableCustomStyles" />
                                @Html.ValidationMessageFor(model => model.DisableCustomStyles)
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-2">
                                <nop-label asp-for="CustomStyles" />
                            </div>
                            <div class="col-md-10">
                                @Html.TextAreaFor(model => model.CustomStyles, 20, 0, new { Style = "width:100%" })
                                @Html.ValidationMessageFor(model => model.CustomStyles)
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-10 offset-md-2">
                                <div class="float-right">
                                    <button type="button" name="format" class="btn btn-success" onclick="doFormat()">@T("Plugins.Admin.StyleEditor.Configuration.FormatStyles")</button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-2">
                                <nop-label asp-for="RenderType" />
                            </div>
                            <div class="col-md-10">
                                <div class="form-check">
                                    <input type="radio" class="form-check-input" name="RenderType" id="RenderType_Inline" value="1" @(Model.RenderType != 2 ? Html.Raw("checked") : null)>
                                    <label class="form-check-label" for="RenderType_Inline">
                                        @T("Plugins.Admin.StyleEditor.Configuration.Inline")
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input type="radio" class="form-check-input" name="RenderType" id="RenderType_File" value="2" @(Model.RenderType == 2 ? Html.Raw("checked") : null)>
                                    <label class="form-check-label" for="RenderType_File">
                                        @T("Plugins.Admin.StyleEditor.Configuration.File")
                                    </label>
                                </div>
                                <div class="card text-white bg-info">
                                    <div class="card-body">
                                        @T("Plugins.Admin.StyleEditor.Configuration.Inline.Hint")
                                        <br /><br />
                                        @T("Plugins.Admin.StyleEditor.Configuration.File.Hint")
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-10 offset-md-2">
                                <button type="submit" name="save" class="btn btn-primary">@T("Admin.Common.Save")</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>

<script asp-location="Footer" type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/js-beautify/1.14.0/beautify.min.js"></script>
<script asp-location="Footer" type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/js-beautify/1.14.0/beautify-css.min.js"></script>
<script asp-location="Footer" type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/js-beautify/1.14.0/beautify-html.min.js"></script>

<script asp-location="Footer">
    function doFormat() {
        var styles = $('#CustomStyles');
        var contents = styles.val();
        var formatted = css_beautify(contents);
        styles.val(formatted);
    }
</script>